<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compras</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-zinc-200">

    <header>

        <h1 class="text-3xl text-center font-semibold p-10 "> BEM VINDO À LISTA DE COMPRAS MENSAL </h1>

    </header>

    <section class="novos__registros flex items-center justify-center">
        <div class="flex items-center justify-center flex-col w-full">
            <h3 class="text-2xl p-2">NOVO REGISTRO</h1>

                <form action="/" class="formulario ">

                    <div class=" flex flex-row my-10">

                        <div class="form__registro mx-10">
                            <fieldset class="form-registro__item">
                                <input id="item__compra " class="item__compra text-center rounded-full" type="text" name="item"
                                    placeholder="ITEM A COMPRAR" autocomplete="off" required>
                            </fieldset>
                        </div>

                        <div class="form__registro  mx-10">
                            <fieldset class="form-registro__item">
                                <input id="quantidade__compra" class="quantidade__compra text-center rounded-full" type="text" name="quantidade"
                                    placeholder="QUANTOS COMPRAR" autocomplete="off" required>
                            </fieldset>
                        </div>

                        <div class="form__registro  mx-10">
                            <fieldset class="form-registro__item">
                                <input id="valor__compra" class="valor__compra text-center rounded-full" type="text" name="valor"
                                    placeholder="PREÇO" autocomplete="off" required>
                            </fieldset>
                        </div>

                    </div>

                    <div class="second__block w-32 w-full flex items-center justify-center ">
                        <button href="/" class=" w-32 border border-slate-300 hover:border-slate-400 rounded-full" type="submit"
                            class="button" id="envia__registro">Enviar</button>
                    </div>

                </form>
        </div>

    </section>


    <section class="dashboard__registros border flex items-center justify-center">

        <table class="tabela__registros w-1/2 mt-5 ">
            <tr class="">
                <th class="dashboard__cabecalho border border-black "> ✓ </th>
                <th class="dashboard__cabecalho border border-black "> ITEM </th>
                <th class="dashboard__cabecalho border border-black"> QUANTIDADE </th>
                <th class="dashboard__cabecalho border border-black"> VALOR </th>
                <th class="dashboard__cabecalho border border-black"> EXCLUIR </th>
            </tr>

        </table>




</body>

<script src="../index.js"></script>
<script src="registroView.js"></script>

</html>